<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.productManagement.mapper.MdItemMapper">

    <select id="getItemsByQuery" parameterType="com.zeroone.star.project.j6.product_management.query.MdItemQuery" resultType="com.zeroone.star.productManagement.entity.MdItem">
        SELECT * FROM md_item
        WHERE 1=1
        <if test="itemCode != null and itemCode != ''">
            AND item_code LIKE CONCAT('%', #{itemCode}, '%')
        </if>
        <if test="itemName != null and itemName != ''">
            AND item_name LIKE CONCAT('%', #{itemName}, '%')
        </if>
        <if test="itemTypeId != null and itemName != ''">
            AND item_type_id = #{itemTypeId}
        </if>
    </select>
</mapper>
